.hero {
  background-image: url("../../../assets/cover.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 85vh;
  padding-top: 20%;
  padding-right: 50px;
  color: #000000;
}
.hero #heading h3 {
  color: #fff;
}
.hero #heading {
  text-align: left;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 100px) {
  .margin {
    height: 20vh;
  }
  .hero {
    background-position: right;
    padding-top: 10%;
    height: 100vh;
  }
  .hero .row {
    width: 100%;
  }
}
